.camisetas-bg {
  background: var(--cor-11);
}

.camisetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.camisetas-imagem {
  display: grid;
}

.camisetas-imagem img {
  grid-area: 1/1;
}

.camisetas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.camisetas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.camisetas h2,
.camisetas p {
  grid-column: 1/-1;
}

.camisetas h2 {
  margin-bottom: 20px;
}

.camisetas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.camisetas p {
  margin-bottom: 32px;
}

.camisetas a {
  place-self: end;
}

.camisetas li {
  display: flex;
  align-items: center;
}

.camisetas ul {
  display: grid;
  gap: 16px;
}

.camisetas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .camisetas-bg {
    background: var(--cor-11);
  }
  .camisetas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a {
    place-self: start;
  }
}
